.login_form
  .login_form_account-wall.wow.fadeInUp(data-wow-offset="10",data-wow-iteration="1")
    h2.text-center
      span.black Time
      span.red Line
    form.login_form_enter_form
      input.form-control(id="login", type='text',placeholder=language.login.login ,required, autofocus)
      input.form-control(id="password", type='password', placeholder=language.login.password ,required)
      .btn.login_form_btn=language.login.submit