footer.footer
  .container
    .pull-left
      a(class='footer_mail', href='mailto:contact@jurecloud.pro', title=language.footer.mail) contact@jurecloud.pro
    .pull-right.text-right
      span.footer_desc &#169; JureCloud LLC &#8212; &#8559;&#8559;&#8553;&#8549;
