extends ./layout.jade
block content
  .text-center.col-sm-6.hidden-xs
    //- span.header_desc=language.header.module.name
  .pull-right.col-sm-3.text-right
    button.header_logout.btn.btn-primary(title=language.header.exit)=language.header.exit


  