header.header
  .container
    h1.header_logo.pull-left.col-sm-3
      a(href='/', title=language.header.main)
        span.white Time
        span.red Line
    .text-center.col-sm-6.hidden-xs
      //- span.header_desc=language.header.module.name
    .pull-right.col-sm-3.text-right
      button.header_logout.btn.btn-primary(title=language.header.exit)=language.header.exit


  